@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0;
    padding: 0;
    height: 100%;
}

header.barrasup {
    display: flex;
    justify-content: flex-end;
    background-color: #315067;
    padding: 10px;
    color: white;
    font-size: 20px;
    top: 0;
}

header.icon-header {
    padding: 40px;
}

nav.navbar {
    width: 40px;
    height: 100%;
    background-color: #315067;
    padding: 20px 0 20px 0.5%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 2px 0 0 #FF7C0D;
}

nav.navbar.expandir {
    width: 200px;
}

.btn-expand {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 40px;
}

.btn-expand > i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}

ul li.item-menu {
    transition: 0.5s;
}

ul li.ativo {
    background-color: #4E6E87;
    border-radius: 8px 0 0 8px;
}

ul li.item-menu:hover {
    background: #4E6E87;
    border-radius: 8px 0 0 8px;
}

ul li.item-menu a .txt-link {
    margin-left: 30px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

ul li.item-menu a .icon > i {
    font-size: 18px;
}

main.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1; 
}

.barrareturn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 935px;
}

.barrareturn i{
    font-size: 30px;
}

.btn-ad button {
    width: 81px;
    height: 25px;
    padding: 0;
    border-radius: 6px;
    background: #315067;
    cursor: pointer;
    color: white;
    text-align: center; 
    line-height: 25px;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

.return a {
    color: #315067;
    text-decoration: none;
}

.linha {
    width: 100%;
    max-width: 935px;
    height: 1px;
    background-color: #a7a7a7;;
    margin: 15px;
    opacity: 40%;
}

.dadoscadastrais{
    width: 100%;
    max-width: 935px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #717171;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

input[type="text"], select {
    height: 24px;
    border-radius: 3px;
    background-color: #F2F2F2;
    border: 1px solid #C7C7C7;
    padding: 0 8px;
    font-size: 14px;
    box-sizing: border-box;
    width: 150px;
}

.al_nome input,
.al_email input,
.al_mae input,
.al_responsavel input {
    width: 224px;
}

input::placeholder {
    font-size: 12px;
    color: #888;
}
select {
    font-size: 14px;
    color: #888;
}

.linha01{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.linha02{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.linha03{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.endereco{
    width: 100%;
    max-width: 935px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: #717171;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

.infos{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.al_cep input{
    width: 100px;
}

.al_logradouro input{
    width: 300px;
}

.al_numerocs input{
    width: 60px;
}

.al_complemento input{
    width: 110px;
}

.al_bairro input{
    width: 120px;
}

.al_municipio input{
    width: 200px;
}